<th:block id="allApprovedLayout">
    <form>


        <p class="card-description">
            <a class="btn btn-primary" th:href="@{'/admin/category/create'}">Add</a>
            <button type="submit" th:formaction="@{/admin/category/edit-parent-category}" class="btn btn-primary">Edit Parent Category</button>
            <!-- <button type="submit" th:formaction="@{/admin/category/edit-status}" class="btn btn-primary">Edit Status</button>
            &nbsp;<b>Status: </b>
            <select name="status">
                <option value="0">All</option>
                <option value="1">Active</option>
                <option value="2">Deactive</option>
            </select>&nbsp;
            <button type="submit" th:formaction="@{/admin/category/}" class="btn btn-primary">Search by status</button>  -->
        </p>

        <!-- Alert -->
        <div th:replace="~{admins/layout/partials/alert :: #alertLayout}"></div>
        <!-- Alert Ends -->

        <div style="width: 1200px; overflow-x: scroll;" class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>User Name</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Parent Category Name</th>
                        <!-- <th>Image</th> -->
                        <th>Updated at</th>
                        <th> <th:block sec:authorize="hasRole('ROLE_ADMIN')">Action</th:block> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="e : ${categories.content}">
                        <td><input type="checkbox" class="form-check-input" name="selectedCategories"
                                th:value="${e.categoryId}"></td>
                        <th>[[${e.user.username}]]</th>
                        <td>[[${e.categoryName}]]</td>
                        <td>[[${e.description}]]</td>
                        <td>[[${e.parentcategory.parentCategoryName}]]</td>
                        <!-- <td>
                            <img th:src="@{'/upload/'+${e.imagePath}}" width="50" height="50">
                        </td> -->
                        <td>[[${e.updatedAt!=null? #dates.format(e.updatedAt, 'dd-MM-yyyy') : "None" }]]
                        </td>
                        <td>
                            <div sec:authorize="hasRole('ROLE_SUPER_ADMIN')" class="dropdown">
                                <button class="btn btn-success btn-sm dropdown-toggle" type="button"
                                    id="dropdownMenuSizeButton3" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                                    <a class="dropdown-item"
                                        th:href="@{'/admin/category/edit/'+${e.categoryId}}">Edit</a>
                                    <a class="dropdown-item"
                                        th:href="@{'/admin/category/delete/'+${e.categoryId}}"
                                        onclick="return confirm('Are you sure?')">Delete</a>
                                </div>
                            </div>

                            <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success btn-rounded btn-fw" th:href="@{'/admin/category/edit/'+${e.categoryId}}">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav class="d-flex justify-content-center" th:if="${categories.totalPages > 1}">
                <ul class="pagination">
                    <th:block th:if="${currentPage == 1}">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    </th:block>

                    <th:block th:if="${currentPage > 1}">
                        <li class="page-item"><a class="page-link" th:href="@{'/admin/category?status='+${selectedStatus}+'&page='+${currentPage-1}+'&size='+${categories.size}}">Previous</a></li>
                    </th:block>

                    <li class="page-item active">
                        <b class="page-link">Showing [[${currentPage}]]/[[${categories.totalPages}]]</b>
                    </li>

                    <th:block th:if="${currentPage < categories.totalPages}">
                        <li class="page-item"><a class="page-link" th:href="@{'/admin/category?status='+${selectedStatus}+'&page='+${currentPage+1}+'&size='+${categories.size}}">Next</a></li>
                    </th:block>	

                    <th:block th:if="${currentPage == categories.totalPages}">
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </th:block>	
                </ul>
              </nav>
        </div>
    </form>
</th:block>


