<!DOCTYPE html>
<html
	th:replace="~{/shopOwners/layout/index :: mainContent('Home', ~{:: #content-wrapper}, ~{:: #jsScript}, ~{:: #style})}">

<head>
<meta charset="UTF-8">

<th:block id="jsScript">

</th:block>
<th:block id="style">

</th:block>
</head>

<body>
	<th:block id="content-wrapper">
		<div class="dashboard__content bgc-gmart-gray">
			<div class="row pb50">
				<div class="col-lg-12">
					<div class="dashboard_title_area">
						<h2>Dashboard</h2>
						<p class="para">Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-xxl-3">
					<div class="d-flex justify-content-between statistics_funfact">
						<div class="details">
							<div class="subtitle1">Total Earnings</div>
							<div class="title">
								$859.25k <span class="badge style1 text-center">2.2%</span>
							</div>
							<div class="subtitle2">
								<span>$50</span> New Sales
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xxl-3">
					<div class="d-flex justify-content-between statistics_funfact">
						<div class="details">
							<div class="subtitle1">Order</div>
							<div class="title">66,894</div>
							<div class="subtitle2">
								<span>40+</span> New Order
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xxl-3">
					<div class="d-flex justify-content-between statistics_funfact">
						<div class="details">
							<div class="subtitle1">Customer</div>
							<div class="title">583.35M</div>
							<div class="subtitle2">
								<span>90+</span> New Customer
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xxl-3">
					<div class="d-flex justify-content-between statistics_funfact">
						<div class="details">
							<div class="subtitle1">My Balance</div>
							<div class="title">
								$365.89k <span class="badge style2 text-center">2.2%</span>
							</div>
							<div class="subtitle2">
								<span>290</span> Balance
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8">
					<div class="application_statics mb30">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand">
								<div class=""></div>
							</div>
							<div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							</div>
						</div>
						<div
							class="report_widget d-block d-sm-flex justify-content-center justify-content-sm-between">
							<h4 class="title pl30">Earning Statistics</h4>
							<ul class="mb0 ml30-520">
								<li class="list-inline-item report_export mb15-520"><a
									href="#">Export Report</a></li>
								<li class="list-inline-item">
									<div class="dropdown bootstrap-select show-tick">
										<select class="selectpicker show-tick">
											<option>This Week</option>
											<option>This Month</option>
											<option>This Year</option>
										</select>
										<button type="button" tabindex="-1"
											class="btn dropdown-toggle btn-light"
											data-bs-toggle="dropdown" role="combobox"
											aria-owns="bs-select-1" aria-haspopup="listbox"
											aria-expanded="false" title="This Week">
											<div class="filter-option">
												<div class="filter-option-inner">
													<div class="filter-option-inner-inner">This Week</div>
												</div>
											</div>
										</button>
										<div class="dropdown-menu ">
											<div class="inner show" role="listbox" id="bs-select-1"
												tabindex="-1">
												<ul class="dropdown-menu inner show" role="presentation"></ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<canvas id="myChartweave"
							style="height: 337px; display: block; width: 674px;" width="842"
							height="421" class="chartjs-render-monitor"></canvas>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="circle_chart_box">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand">
								<div class=""></div>
							</div>
							<div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							</div>
						</div>
						<h4 class="title mb30">Earning</h4>
						<canvas id="myChart"
							style="height: 230px; display: block; width: 280px;" width="350"
							height="287" class="chartjs-render-monitor">$56,033</canvas>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8">
					<div class="application_statics">
						<h4 class="title pl30 mb30">Recent Orders</h4>
						<div class="account_user_deails dashboard_page">
							<div class="order_table table-responsive">
								<table class="table">
									<thead class="table-light">
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Product</th>
											<th scope="col">Date</th>
											<th scope="col">Payment</th>
											<th scope="col">Status</th>
											<th scope="col">Total</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">#1923</th>
											<td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
											<td>Aug 15, 2020</td>
											<td>Paid</td>
											<td class="status"><span class="style1">Delivered</span></td>
											<td>$56.00</td>
											<td class="action"><span class="details">...</span></td>
										</tr>
										<tr>
											<th scope="row">#1923</th>
											<td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
											<td>Aug 15, 2020</td>
											<td>Paid</td>
											<td class="status"><span class="style2">Cancel</span></td>
											<td>$56.00</td>
											<td class="action"><span class="details">...</span></td>
										</tr>
										<tr>
											<th scope="row">#1923</th>
											<td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
											<td>Aug 15, 2020</td>
											<td>Paid</td>
											<td class="status"><span class="style3">In
													Progress</span></td>
											<td>$56.00</td>
											<td class="action"><span class="details">...</span></td>
										</tr>
										<tr>
											<th scope="row">#1923</th>
											<td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
											<td>Aug 15, 2020</td>
											<td>Paid</td>
											<td class="status"><span class="style1">Delivered</span></td>
											<td>$56.00</td>
											<td class="action"><span class="details">...</span></td>
										</tr>
										<tr>
											<th scope="row">#1923</th>
											<td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
											<td>Aug 15, 2020</td>
											<td>Paid</td>
											<td class="status"><span class="style2">Cancel</span></td>
											<td>$56.00</td>
											<td class="action"><span class="details">...</span></td>
										</tr>
										<tr>
											<th scope="row">#1923</th>
											<td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
											<td>Aug 15, 2020</td>
											<td>Paid</td>
											<td class="status"><span class="style3">In
													Progress</span></td>
											<td>$56.00</td>
											<td class="action"><span class="details">...</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</th:block>

</body>

</html>