<th:block id="hiddenBar">
    <div class="hiddenbar-body-ovelay"></div>
    <!-- Sign in hidden bar -->
    <div class="signin-hidden-sbar">
        <div class="hsidebar-header">
            <div class="sidebar-close-icon"><span class="flaticon-close"></span></div>
            <h4 class="title">Sign-In</h4>
        </div>
        <div class="hsidebar-content">
            <div class="log_reg_form sidebar_area">
                <div class="login_form">
                    <form action="#">
                        <div class="mb-2 mr-sm-2"><label class="form-label">Username or email address</label><input
                                type="text" class="form-control" placeholder="Ali Tufan"></div>
                        <div class="form-group mb5"><label class="form-label">Password</label><input type="password"
                                class="form-control" placeholder="Password"></div>
                        <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                                id="exampleCheck3"><label class="custom-control-label" for="exampleCheck3">Remember
                                me</label><a class="btn-fpswd float-end" href="#">Lost
                                your password?</a></div><button type="submit"
                            class="btn btn-log btn-thm mt20">Login</button>
                        <p class="text-center mb25 mt10">Don't have an account?<a class="signup-filter-btn"
                                href="#">Create account</a></p>
                        <div class="hr_content">
                            <hr><span class="hr_top_text">or</span>
                        </div>
                        <ul class="login_with_social text-center mt30 mb0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-google"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-apple"></i></a></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in hidden bar ends -->

    <!-- Cart hidden bar -->
    <div class="cart-hidden-sbar">
        <div class="hsidebar-header">
            <div class="sidebar-close-icon"><span class="flaticon-close"></span></div>
            <h4 class="title">Your Cart</h4>
        </div>
        <div class="hsidebar-content">
            <div class="log_fav_cart_widget hsidebar_home_page">
                <div class="wrapper">
                    <ul class="cart">
                        <li class="list-inline-item">
                            <ul class="dropdown_content">
                                <li class="list_content">
                                    <div><img class="float-start mt10" th:src="@{/users/images/shop/s1.png}"
                                            alt="75x75">
                                        <p>Apple MacBook Pro with Apple M1 Chip</p>
                                        <div class="cart_btn home_page_sidebar mt10">
                                            <div class="quantity-block home_page_sidebar"><button
                                                    class="quantity-arrow-minus home_page_sidebar"><img
                                                        th:src="@{/users/images/icons/minus.svg}" alt=""></button><input
                                                    class="quantity-num home_page_sidebar" type="number"
                                                    value="3"><button
                                                    class="quantity-arrow-plus home_page_sidebar"><span
                                                        class="flaticon-close"></span></button></div><span
                                                class="home_page_sidebar price">$3.399</span>
                                        </div><span class="close_icon"><i class="flaticon-close"></i></span>
                                    </div>
                                </li>
                                <li class="list_content">
                                    <div><img class="float-start mt10" th:src="@{/users/images/shop/s2.png}"
                                            alt="75x75">
                                        <p>Apple MacBook Pro with Apple M1 Chip</p>
                                        <div class="cart_btn home_page_sidebar mt10">
                                            <div class="quantity-block home_page_sidebar"><button
                                                    class="quantity-arrow-minus2 home_page_sidebar"><img
                                                        th:src="@{/users/images/icons/minus.svg}" alt=""></button><input
                                                    class="quantity-num2 home_page_sidebar" type="number"
                                                    value="3"><button
                                                    class="quantity-arrow-plus2 home_page_sidebar"><span
                                                        class="flaticon-close"></span></button></div><span
                                                class="home_page_sidebar price">$3.399</span>
                                        </div><span class="close_icon"><i class="flaticon-close"></i></span>
                                    </div>
                                </li>
                                <li class="list_content_total_price">
                                    <h5>Total:<span class="total_price float-end">$6.225.98</span></h5>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hsidebar_footer_content">
            <div class="list_last_content">
                <div class="lc">
                    <p class="para">Buy $98.00 more to enjoy FREE Shipping</p>
                    <div class="uilayout_range home1_style">
                        <div class="sidebar_range_slider mb30 mt25"><input class="range-example-km" value="80"
                                type="text"></div>
                    </div><a href="#" class="cart_btns btn btn-white">View Cart</a><a href="#"
                        class="checkout_btns btn btn-thm">Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart hidden end -->

    <!-- Sign up hidden bar -->
    <div class="signup-hidden-sbar">
        <div class="hsidebar-header">
            <div class="sidebar-close-icon"><span class="flaticon-close"></span></div>
            <h4 class="title">Create Your Account</h4>
        </div>
        <div class="hsidebar-content">
            <div class="log_reg_form sidebar_area">
                <div class="sign_up_form">
                    <form action="#">
                        <div class="form-group"><label class="form-label">Your Name</label><input type="text"
                                class="form-control" placeholder="Ali Tufan"></div>
                        <div class="form-group"><label class="form-label">Username</label><input type="text"
                                class="form-control" placeholder="alitfn"></div>
                        <div class="form-group"><label class="form-label">Your Email</label><input type="email"
                                class="form-control" placeholder="creativelayers088@gmail.com"></div>
                        <div class="form-group mb20"><label class="form-label">Password</label><input type="password"
                                class="form-control" placeholder="******************"></div><button type="submit"
                            class="btn btn-signup btn-thm">Create Account</button>
                        <p class="text-center mb25 mt10">Already have an account?<a href="page-login.html">Sign
                                in</a></p>
                        <div class="hr_content">
                            <hr><span class="hr_top_text">or</span>
                        </div>
                        <ul class="login_with_social text-center mt30 mb0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-google"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-apple"></i></a></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign up hidden bar ends -->
</th:block>