<th:block id="headLayout">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="${title}"></title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/admins/vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{/admins/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/admins/vendors/css/vendor.bundle.base.css}">
  <link rel="stylesheet" th:href="@{/admins/vendors/mdi/css/materialdesignicons.min.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/admins/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
  <link rel="stylesheet" th:href="@{/admins/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/admins/js/select.dataTables.min.css}">
  <link rel="stylesheet" th:href="@{/admins/vendors/select2/select2.min.css}">
  <link rel="stylesheet" th:href="@{/admins/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/admins/css/vertical-layout-light/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/admins/images/favicon.png}" />

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <style>
    .logo {
      color: #fff;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      margin-top: 8px;
      width: 130px;
      padding: 5px 15px;
      border-radius: 15px;
      background-color: #443297;
    }

    .text-thm {
      color: #f5c34b !important;
    }

    #exampleInputEmail1,
    #exampleInputPassword1 {
      border-radius: 10px;
    }

    /* custom scroll start */
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 1px solid #555;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* custom scroll end */
  </style>
</th:block>