<!DOCTYPE html>
<html
  th:replace="~{/users/layout/index :: mainContent('Invoice', ~{:: #content-wrapper}, ~{:: #jsScript} ,~{:: #style})}">

<head>
  <meta charset="UTF-8">
  <th:block id="style">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  </th:block>
</head>

<body>
  <th:block id="content-wrapper">
    <section class="our-dashbord dashbord">
      <div class="container">
        <div class="row">

          <!-- Side menu -->
          <div th:replace="~{users/account/partials/sidemenu :: #sidemenu}"></div>
          <!-- Side menu end -->


          <div class="col-lg-9 col-xl-9">
            <div class="row">
              <div class="col-xl-12">
                <div class="account_user_deails pl40 pl0-md">

                  <h2 class="title mb30">Invoice</h2>
                  <!-- Content -->
                  <div class="order_table table-responsive">
                    <table class="table">
                      <thead class="table-light">
                        <tr>
                          <th scope="col">Order Id</th>
                          <th scope="col">Shop Name</th>
                          <th scope="col">Date</th>
                          <th scope="col">Total Amount</th>
                          <th scope="col">Payment Method</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:if="${invoices!=null && #lists.size(invoices)!=0}" th:each="e : ${invoices}">
                          <th>[[${e.orderId}]]</th>
                          <th>[[${e.shopowner.shopName}]]</th>
                          <td>[[${#dates.format(e.orderDate, 'dd-MM-yyyy') }]]</td>
                          <td>[[${'$'+ e.totalAmount}]]</td>
                          <th>[[${e.paymentMethod}]]</th>                         
                        </tr>
                        <tr th:if="${invoices == null || #lists.size(invoices) == 0 }">
                          <th colspan="100%" style="text-align:center;">No Data</th>
                        </tr>                       
                      </tbody>
                    </table>

                  </div>
                  <!-- Content Ends -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </th:block>

  <th:block id="jsScript">

  </th:block>
</body>

</html>