<th:block id="sidebar">
    <div class="dashboard__sidebar">
        <div class="dashboard_sidebar_list">
            <div class="sidebar_list_item">
                <a th:href="@{'/shop-owners'}" class="items-center"><i class="flaticon-house mr15"></i>Dashboard</a>
            </div>

            <div class="sidebar_list_item ">
                <a th:href="@{'/shop-owners/product'}" class="items-center"><i
                        class="flaticon-mail-inbox-app mr15"></i>Product</a>
            </div>

            <div class="sidebar_list_item ">
                <a class="items-center" data-toggle="collapse" data-target="#category" aria-expanded="true" aria-controls="category">
                    <i class="flaticon-settings mr15"></i>Category
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" class="replaced-svg img-icon-arrow">
                </a>
                <div id="category" class="collapse">
                    <div class="card-body">
                        <a th:href="@{'/shop-owners/category/'}">
                            <li class="flaticon-settings mr15"></li>All Category
                        </a>
                        <a th:href="@{'/shop-owners/category/from-shop'}">
                            <li class="flaticon-settings mr15"></li>Your Category
                        </a>
                    </div>
                </div>                    
            </div>

            <div class="sidebar_list_item ">
                <a class="items-center" data-toggle="collapse" data-target="#order" aria-expanded="true" aria-controls="order">
                    <i class="flaticon-settings mr15"></i>Order
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" class="replaced-svg img-icon-arrow">
                </a>
                <div id="order" class="collapse">
                    <div class="card-body">
                        <a th:href="@{'/shop-owners/order/index?status=0'}">
                            <li class="flaticon-settings mr15"></li>Newly Made
                        </a>
                        <a th:href="@{'/shop-owners/order/index?status=1'}">
                            <li class="flaticon-settings mr15"></li>Packaging
                        </a>
                        <a th:href="@{'/shop-owners/order/index?status=2'}">
                            <li class="flaticon-settings mr15"></li>Other
                        </a>
                        <a th:href="@{'/shop-owners/order/index?status=3'}">
                            <li class="flaticon-settings mr15"></li>Cancelled
                        </a>
                        <a th:href="@{'/shop-owners/order-cancellation'}">
                            <li class="flaticon-settings mr15"></li>Cancell Request
                        </a>
                    </div>
                </div>                    
            </div>
        
            <div class="sidebar_list_item ">
                <a th:href="@{'/shop-owners/coupon'}" class="items-center"><i
                        class="flaticon-cash-on-delivery mr15"></i>Coupon</a>
            </div>

            <div class="sidebar_list_item ">
                <a th:href="@{'/shop-owners/promotion'}" class="items-center"><i
                        class="flaticon-folder mr15"></i>Promotion</a>
            </div>

            <div class="sidebar_list_item ">
                <a th:href="@{'/shop-owners/profile'}" class="items-center"><i
                        class="flaticon-mail-inbox-app mr15"></i>Profile</a>
            </div>

            <div class="sidebar_list_item ">
                <a th:href="@{'/logout'}" class="items-center"><i class="flaticon-exit mr15"></i>Logout</a>
            </div>


        </div>
    </div>
</th:block>